<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/auth.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" defer></script>
    <!--Howler library for sounds-->

</head>

<body class="flex justify-align-center">

    <h2 id="gameId"></h2>

    <div class="createGameButtonWrapper">
        <form id="createGameForm">
            <label for="createGame">Create Game</label> <br>
            <input type="text" id="gameCodeInput" placeholder="Enter your game code" required>
            <input type="submit" id="createGameButton" value="CREATE GAME" required>
        </form>
    </div>


    <script type="module" src="../scripts/utility/audioManager.js"></script>
    <script type="module" src="../scripts/gameLogic/createGame.js"></script>
</body>

</html>