<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/auth.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" defer></script> <!--Howler library for sounds-->

</head>
<body class="flex justify-align-center">
    
    <h2 id="battleNumber"></h2>


    <script type="module" src="../scripts/audioManager.js"></script>
    <script type="module" src="../scripts/createGame.js"></script>
</body>
</html>