<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" defer></script>
    <!--Howler library for sounds-->

</head>

<body class="flex justify-align-center">

    <div id="banner" class="banner">
        <div class="bannerWrapper">
            <h2>Awaiting Opponent</h2>
            <h3 id="gameCode"> Game Code: ... </h3>
            <input id="cancelButton" type="button" value="Cancel">
        </div>
    </div>

    <script type="module" src="../scripts/utility/audioManager.js"></script>
    <script type="module" src="../scripts/gameLogic/gameLobby.js"></script>
</body>

</html>