<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleships</title>
    <link rel="stylesheet" href="../styles/game.css">

</head>

<body>
    <div id="gameBoardWrapper" class="center"></div>
   
    <div id="randomizeWrapper">
        <input type="button" value="Randomize">
    </div>
    <div class="shipSelectionWrapper center">
        <div id="carrierSize5" class="ship" draggable="true"></div>
        <div id="battleshipSize4"class="ship" draggable="true"></div>
        <div id="submarineSize3" class="ship" draggable="true"></div>
        <div id="submarineSize3" class="ship" draggable="true"></div>
        <div id="destroyerSize2" class="ship" draggable="true"></div>
    </div>

    <script src="../scripts/game.js"></script>
</body>

</html>