<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join game</title>
    <link rel="stylesheet" href="../styles/auth.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" defer></script> <!--Howler library for sounds-->

</head>

<body class="flex justify-align-center">



        <form id="joinGameForm">
            <input id="gameCode"  type="text" placeholder="Game code" autofocus required> <br>

            <input type="submit" id="joinGameButton" value="Join Game" required> 
        </form>


        <script type="module" src="../scripts/utility/audioManager.js"></script>
    <script type="module" src="../scripts/gameLogic/joinGame.js"></script>
</body>

</html>