<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join game</title>
    <link rel="stylesheet" href="../styles/auth.css">

</head>

<body class="flex justify-align-center">



        <form id="gameIdForm" onsubmit="findGame()">
            <input oninput="this.value = this.value.toUpperCase()" type="text" minlength="6" maxlength="6" id="gameId"
               placeholder="Game ID" autofocus required> <br>

            <input type="submit" value="Join Game"> 
        </form>



    <script type="module" src="../scripts/joinGame.js"></script>
</body>

</html>