<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/Profile.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" defer></script> <!--Howler library for sounds-->

</head>


<body class="flex justify-align-center">
    <div>
        <h2 id="username"> Username: xxx</h2>
        <h4 id="userId"> User ID: xxx</h4>
        <h4 id="email"> Email: xxx</h4>

        <h3> games played: xxx</h3>
        <h3> Win rate: xxx</h3>



            <a>
                <h3> Game history: xxx</h3>
            </a>
        </div>
    </div>
    <script type="module" src="../scripts/utility/audioManager.js"></script>
    <script type="module" src="../scripts/profile.js"></script>
</body>

</html>