<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../styles/auth.css">
</head>

<body>
    <a class="display flex justify-align-center" href="/">
        <img src="../resources/images/battleshipsLogoBoardered.png" alt="Battleships Logo" class="logo">
    </a>

    <div class="LoginWrapper flex justify-align-center center">
        <div class="FormWrapper ">
            <h2> Create account</h2>
            <form>
                <label for="Username">Username</label><br>
                <input type="text" placeholder="Username"><br>
                <label for="password">Password</label><br>
                <input type="password" placeholder="Password"><br>
                <label for="password">Repeat Password</label><br>
                <input type="password" placeholder="Repeat password"><br>
                <label for="Email">Email</label><br>
                <input type="email" placeholder="Example@gmail.com"><br>
                <input type="submit" value="Create Account">
            </form>

            <p>Have an account? </p>
            <a href="/login" style="text-decoration: none;">
                Login here
            </a>

            <!--Get the scripts for the sound library (howler)-->
            <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
            <script type="module" src="../scripts/audioManager.js"></script>

        </div>
    </div>
</body>

</html>