<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="../styles/auth.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" defer></script>
    <!--Howler library for sounds-->
</head>

<body>

    <a class="display flex justify-align-center" href="/">
        <img src="../resources/images/battleshipsLogoBoardered.png" alt="Battleships Logo" class="logo">
    </a>

    <div class="wrapper">
        <div class="LoginWrapper flex justify-align-center center">
            <div class="FormWrapper">
                <h2> volume: </h2>
                <input id="volume" type="range" min="0.0" max="1" value="0.5" step="0.1">
                <h2> Dark mode: </h2>
                <input type="checkbox">
            </div>
        </div>
    </div>
    <script type="module" src="../scripts/settings.js"></script>
    <script type="module" src="../scripts/utility/audioManager.js"></script>
</body>

</html>