@import url('./styles.css'); /* import main styles*/


body {
    background-image: url("../resources/images/Battleships.png");
    background-color: var(--secondary-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* 100vh betyder 100% af viewport*/
    color: var(--text-color2);
}

.LogoWrapper {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%);
    width: 700px;
    max-width: 90%;
    height: 250px;
}

.logo {
    object-fit: contain;
    display: block;
    width: 100%;
    height: auto;
}

.LoginWrapper {

    min-width: 400px;
    aspect-ratio: 1/1.1;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.692);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.507);
}


input:not([type=checkbox]) {
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 200px;
}


input[type=submit] {
    background-color: var(--blue-color);
    color: white;
    padding: 10px;
    width: 206px;
    border: 2px solid var(--blue-color);
    cursor: pointer;
    transition: all 0.2s;
}

input[type=submit]:hover {
    color: var(--blue-color);
    background-color: rgb(16, 16, 16);
    border-color: var(--blue-color);
}
input[type=submit]:active {
    transform: scale(0.97);
}