@import url('./styles.css'); /* import main styles*/




.LoginWrapper {
    width: 350px;
    aspect-ratio: 1/1.3;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.692);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.507);
}



