@import url(styles.css);
:root {
    --carrier: #957b5f;
    --submarine: #fff4db;
    --battleship: #f88f3a;
    --cruiser: #bfb368;
    --destroyer: #65a9cd;
}


.gameBoard {
    background-color:var(--secondary);
    display: grid;
    grid-template-columns: repeat(10,1fr);
}


.functionWrapper {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.infoBox {
    width: auto;
    display: inline-block;
    padding: .9%;
    border: 2px solid rgba(255, 255, 255, 0.692);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.507);
    margin: 10px;
}

#gameBoardWrapper{
    height: 300px;
    width: 700px;
    margin-bottom: 100px;
    margin-top: 100px;

    display: flex;
    justify-content: space-between;
}

.field {
    height: 30px;
    width: 30px;
    border: 1px black;
    border-style: solid;
    box-sizing: border-box;
    cursor: pointer;
}

.occupiedField {
    height: 30px;
    width: 30px;
    border: 1px black;
    border-style: solid;
    box-sizing: border-box;
    background-color: var(--link-color);
}

/* Laver et rødt kryds på hitField ved at dele background-image op i 2 med hældningen 45% (den er transparent fra start til 50% - 1px og 50% + 1px til slut*/
.hitField { 
    background-image: 
    linear-gradient(45deg, transparent calc(50% - 1px), red calc(50% - 1px), red calc(50% + 1px), transparent calc(50% + 1px)),
    linear-gradient(-45deg, transparent calc(50% - 1px), red calc(50% - 1px), red calc(50% + 1px), transparent calc(50% + 1px));
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.missedField {
    position: relative;
  }
  
.missedField::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px; 
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.shipSelectionWrapper {
    width: 500px;
    height: 200px;
    padding: 35px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.692);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.507);
    display: flex;
}

#carrierSize5 {
    height: 150px;
    width: 30px;
    background-color: var(--carrier);
    border: 1px black;
    border-style: solid;
    margin: 30px;
}

#battleshipSize4 {
    height: 120px;
    width: 30px;
    background-color: var(--battleship);
    border: 1px black;
    border-style: solid;
    margin: 30px;
}

#cruiserSize3 {
    height: 90px;
    width: 30px;
    background-color: var(--cruiser);
    border: 1px black;
    border-style: solid;
    margin: 30px;
}

#submarineSize3 {
    height: 90px;
    width: 30px;
    background-color: var(--submarine);
    border: 1px black;
    border-style: solid;
    margin: 30px;
}

#destroyerSize2 {
    height: 60px;
    width: 30px;
    background-color: var(--destroyer);
    border: 1px black;
    border-style: solid;
    margin: 30px;
}

.ship:hover {
    cursor: pointer;
    opacity: 0.6;
}


.field.right {
    background-color: var(--secondary);
}

.field.right:hover {
    filter: brightness(80%);
}

.field.right.missedField:hover {
    background-color: inherit; 
}

#gameButtonWrapper {
    height: 25px;
    padding: 3px;
}





