@import url('./styles.css'); /* import main styles*/

.ProfileWrapper {
    width: 350px;
    aspect-ratio: 1/0.8;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.692);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.507);
}

.ProfileInfoWrapper {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 20%;
}



